.tinted-image {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	/* background: linear-gradient(rgba(122, 22, 70, 0.76), rgba(0, 26, 120, 0.719)), */
	/* url("../images/Uk.jpg"); */
}
.App {
	/* background-color: rgba(122, 22, 70, 0.507); */
}
.App * {
	text-align: center;
	margin: 0;
	scrollbar-width: 0.2vw;
}
body {
	margin: "0px";
}
.Navbar {
	position: sticky;
	top: 0;
	left: 0;
	width: 90vw;
	z-index: 100;
}
/* index START*/
.Index {
	z-index: -1;
	margin: 0px;
	width: 100vw;
	min-height: 100vh;
	text-align: center;
}
.IndexBody {
	border-radius: 0.4%;
	padding: 2%;
	/* background-color: rgba(0, 26, 120, 0.5); */
	color: white;
}
.Logo {
	margin-top: 1vh;
	margin-left: 15vw;
	/* background-color: blue; */
	width: 70vw;
}

/* index END */
/* Gallery Start */
.Gallery {
	width: 90vw;
	min-height: 100vh;
}
.Gallery :nth-child(odd) {
	/* background-color: green; */
	flex-direction: row-reverse;
}
.GalleryItem {
	display: flex;
	margin-top: 1vh;
	margin-left: 5vw;
	width: 85vw;
	border-radius: 0.4%;
	padding: 2%;
	background-color: rgba(0, 26, 120, 0.5);
	color: white;
}
.GIText {
	margin: auto;
	max-width: 40vw;
	text-align: center;
	font-size: xx-large;
	font-style: oblique;
	font-weight: 900;
	/* color: blue; */
}
/* Gallery End */

/* Sign Start */
.SignQuoteImageContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
	height: 50vh;
	margin-left: 5vw;
	margin-top: 5vw;
}
.SignQuoteContainer {
	padding: 5vh 1vw 5vh 1vw;
	background-color: #43aa8b;
	color: #f2fdff;
	font-weight: bold;
	font-style: italic;
	font-size: xx-large;
	margin: 0 auto;
	width: 40vw;
	height: 10vw;
	border-radius: 48px;
	display: flex;
	align-items: center;
}
.SignQuote {
}
.SignImage {
	z-index: -40;
	width: 40vw;
	height: 100vh;
	background: url("../images/signImage.jpg");
	background-position: center;
}
.SignImageTint {
	width: inherit;
	height: inherit;
	background-color: #fff7ff52;
}

.SignFormImageContainer {
	min-height: 50vh;
	margin-top: 15vh;
	width: 97vw;
	background-color: rgba(35, 87, 137, 0.57);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.SignFormImageContainerCol1 p {
	color: #f2fdff;
	font-weight: bold;
	font-size: xx-large;
}
.SignInputContainer {
	/* background-color: blue; */
	height: 30vh;
	display: flex;
	flex-direction: column;
	width: 50vw;
	justify-content: space-evenly;
}
.SignInputContainer input {
}
.SignInputContainer input,
::placeholder {
	height: 4vh;
	text-align: left;
	background-color: #235789;
	color: #f2fdff;
	font-weight: bold;
	border-radius: 10px;
}
.SignFormImage {
	background-repeat: no-repeat;
	width: 30vw;
	height: 35vh;
	background-image: url("../images/SignFormImg.png");
}

/* Sign End */
/* Footer START */
.Footer {
	width: 100vw;
	position: absolute;
	margin-bottom: -50px;
}
.Footer :first-of-type(div) {
	margin-left: 10vw;
}

/* About START */
.About {
	min-height: 100vh;
	margin: 5vh auto 0 auto;
	width: 80vw;
	border-radius: 0.4%;
	padding: 2%;
	background-color: rgba(0, 26, 120, 0.5);
	color: white;
}
.Post {
	margin-top: 5vh;
}
/* About END */

/* Offer */
.Offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1vh;
	margin-left: 5vw;
	width: 85vw;
	border-radius: 0.4%;
	padding: 2%;
	background-color: rgba(0, 26, 120, 0.5);
	color: white;
}
.Offer * {
	text-align: left;
}
/* OFFER EMD */
.switch {
	margin: auto;
	position: absolute;
	right: 1vw;
	top: 1vh;
	z-index: 1;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../images/Plsquare.png");
	background-size: cover;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-image: url("../images/Ukround.png");
	background-size: contain;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	/* tlo po klik */

	background-image: url("../images/Uksquare.png");
	background-size: contain;
}

input:focus + .slider {
	box-shadow: 0 0 11px black;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);

	background-image: url("../images/Plround.png");
	background-size: contain;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media only screen and (max-width: 650px) {
	.App {
		margin: 0%;
	}
	.Gallery {
		width: 100vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.Gallery :nth-child(odd) {
		flex-direction: column;
	}
	.GalleryImage {
	}
	.GalleryItem {
		display: flex;
		flex-direction: column;
		margin-top: 1vh;
		margin-left: 0vw;
		min-height: 50vh;
		width: 90vw;
	}
	.GIText {
		max-width: 98vw;
		font-size: xx-small;
	}
	.Navbar {
		width: 95vw;
	}
	.switch {
		width: 26px;
		height: 13px;
	}
	.slider:before {
		height: 13px;
		width: 13px;
		left: 0px;
		bottom: 0px;
	}
	input:checked + .slider:before {
		-webkit-transform: translateX(13px);
		-ms-transform: translateX(13px);
		transform: translateX(13px);
	}

	input:focus + .slider {
		box-shadow: 0 0 11px black;
	}
	.slider.round {
		border-radius: 10px;
	}
}
