.tinted-image {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	/* background: linear-gradient(rgba(122, 22, 70, 0.76), rgba(0, 26, 120, 0.719)), */
	/* url("../images/Uk.jpg"); */
}
.App {
	overflow: hidden;
	max-width: 100vw;
}
.App * {
	text-align: center;
	margin: 0;
	scrollbar-width: 0.2vw;
}
.Background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100vw;
	height: 100vh;
}
body {
	margin: "0px";
}
.Navbar {
	position: sticky;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 0;
	margin-top: 4vh;
	margin-left: 2vw;
	padding: 1% 0% 1% 0%;
	min-width: 50vw;
	width: 90vw;
	z-index: 100;
	background-color: #235789;
}
.Navbar div {
}
/* index START*/
.Index {
	z-index: -1;
	margin: 0px;
	min-height: 100vh;
	text-align: center;
	overflow-x: hidden;
}
.Index .Background {
	background-color: #33ca7e49;
}
.IndexLogo {
	/* background-color: mediumseagreen; */
	display: block;
	width: 100vw;
	height: 40vh;
}
.IndexLogoContainer {
	z-index: -10;
	background: url("https://res.cloudinary.com/m4t1ce/image/upload/v1607100669/School/Home/SHome_ak43yn.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-blend-mode: lighten;
	position: fixed;
	width: 100vw;
	height: 50vh;
	top: 0;
	left: 0;
}
.IndexAnimatedDiv {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 22vh;
}
.IndexAnimatedDivCol1 {
	z-index: -22;
	width: 3vw;
	display: flex;
	flex-direction: column;
}
.IndexAnimatedDiv .top {
	clip-path: polygon(0 0%, 0 77%, 100% 17%);
	position: relative;
	left: 0vw;
	animation: left-right 0.8s ease-in;
	background-color: #95b3be77;
	width: 97vw;
	height: 50%;
}
.IndexAnimatedDiv .bottom {
	clip-path: polygon(0 100%, 0 0%, 99% 77%);
	background-color: #aec6c9be;
	width: 96vw;
	height: 50%;
	position: relative;
	left: 0vw;
	animation: left-right 1.2s ease-in;
	/* left: 0vw; */
}
.IndexAnimatedDiv .mid {
	clip-path: polygon(100% 18%, 100% 75%, -2% 46%);
	height: 100%;
	width: 100vw;
	position: relative;
	background-color: #90c9b677;
	right: 0vw;
	animation: right-left 1s ease-in;
}
@keyframes right-left {
	0% {
		right: -100vw;
	}
	100% {
		right: 0vw;
	}
}
@keyframes left-right {
	0% {
		left: -100vw;
	}
	100% {
		left: 0vw;
	}
}
.IndexShortContent {
	color: white;
	margin-left: 20vw;
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Logo {
	margin-top: 1vh;
	margin-left: 15vw;
	/* background-color: blue; */
	width: 70vw;
}
@media only screen and (max-width: 650px) {
	.IndexLogo {
		width: 100vw;
		height: 20vh;
	}
	.IndexLogoContainer {
		font-size: x-small;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
	}
	.IndexShortContent .AboutPostDescription {
		width: 80vw;
		margin: 0vw;
		padding: 0%;
	}
	.IndexShortContent .AboutPostTitle {
		width: fit-content;
		margin-left: 0vw;
	}
}
/* index END */
/* Gallery Start */
.Gallery {
	padding-top: 10vh;
	width: 100vw;
	min-height: 100vh;
}
.GalleryPage .Background {
	background-color: #cfe1d8;
}
.Gallery :nth-child(odd) {
	flex-direction: row-reverse;
}

.GalleryItem {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: 10vh;
	margin-left: 5vw;
	width: 85vw;
	border-radius: 0.4%;
	color: white;
}
.GITextContainer {
	padding: 1%;
	z-index: 4;
	width: 40vw;
	animation: slideDown 2s;
	transform: translate(5vw, 10vh);
}
.Gallery :nth-child(even) .GITextContainer {
	/* background-color: red; */
	animation: slideUpLeft 2s;
	transform: translate(-5vw, -10vh);
}

.GIText {
	background-color: #259574;
	position: relative;
	padding: 2vw;
	margin: auto;
	text-align: center;
	font-size: 2.1vw;
	font-style: oblique;
	font-weight: 550;
}
.GalleryImage {
	width: 50vw;
}
@keyframes slideUpLeft {
	0% {
		transform: translate(0vh, 0vw);
	}
	100% {
		transform: translate(-5vw, -10vh);
	}
}
@keyframes slideDown {
	0% {
		transform: translate(0vh, 0vw);
	}
	100% {
		transform: translate(5vw, 10vh);
	}
}
@media only screen and (max-width: 650px) {
	.Gallery {
		width: 100vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.GalleryItem {
		display: flex;
		flex-direction: column;
		margin: 0;
		min-height: 50vh;
		width: 99vw;
	}
	.Gallery :nth-child(odd) {
		flex-direction: column;
	}
	.GalleryImage {
		width: 90vw;
	}

	.GITextContainer {
		max-width: 98vw;
		min-width: 70vw;
		animation: scaleUp 2s;
		transform: scale(1.25, 1.3);
	}
	.Gallery :nth-child(even) .GITextContainer {
		animation: none;
		transform: scale(1.25, 1.3);
		animation: scaleUp 2s;
	}
	.GIText {
		font-size: medium;
	}
	@keyframes scaleUp {
		0% {
			transform: scale(1, 1);
		}
		100% {
			transform: scale(1.25, 1.3);
		}
	}
}
/* Gallery End */

/* Sign Start */
.Sign .Background {
	background-color: #4b4bb53f;
}
.SignQuote {
	padding: 20%;
}
.SignQuoteImageContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
	height: 50vh;
	margin-left: 5vw;
	margin-top: 5vw;
}
.SignQuoteContainer {
	padding: 5vh 1vw 5vh 1vw;
	background-color: #43aa8b;
	color: #f2fdff;
	font-weight: bold;
	font-style: italic;
	font-size: xx-large;
	margin-left: 7vw;
	width: 40vw;
	height: 10vw;
	border-radius: 48px;
	display: flex;
	align-items: center;
}

.SignImage {
	/* position: absolute; */
	position: fixed;
	/* top: 5vh; */
	right: 5vw;
	z-index: -40;
	width: 40vw;
	height: 100vh;
	background: url("../images/signImage.jpg");
	background-position: center;
}
.SignImageTint {
	width: inherit;
	height: inherit;
	background-color: #fff7ff52;
}

.SignFormImageContainer {
	min-height: 50vh;
	margin-top: 15vh;
	width: 97vw;
	background-color: rgba(35, 87, 137, 0.57);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.SignFormImageContainerCol1 p {
	color: #f2fdff;
	font-weight: bold;
	font-size: xx-large;
}
.SignInputContainer {
	/* background-color: blue; */
	height: 30vh;
	display: flex;
	flex-direction: column;
	width: 50vw;
	justify-content: space-evenly;
}

.SignInputContainer input,
::placeholder {
	height: 4vh;
	text-align: left;
	background-color: #235789;
	color: #f2fdff;
	font-weight: bold;
	border-radius: 10px;
}
.SignFormImage {
	background-repeat: no-repeat;
	width: 30vw;
	height: 35vh;
	background-image: url("../images/SignFormImg.png");
}

@media only screen and (max-width: 650px) {
	.Sign {
		width: 100vw;
	}
	.SignQuote {
		padding: 10%;
	}
	.SignQuoteImageContainer {
		display: unset;
		width: 100vw;
		min-height: 70vh;
	}
	.SignQuoteContainer {
		position: relative;
		margin-top: 10vh;
		margin-left: 1vw;
		margin-right: 1vw;
		height: 20vh;
		width: 90vw;
	}
	.SignImage {
		position: fixed;
		top: 0px;
		height: 70vh;
		width: 100vw;
	}
	.SignFormImageContainer {
		padding-left: 1%;
		padding-right: 1%;
		margin-top: 1vh;
		width: 100vw;
		flex-direction: column;
	}
	.SignFormImage {
		margin: 5vw;
		width: 90vw;
	}
	.SignFormInputContainer button {
		background-color: red;
	}
	.SignFormImageContainerCol1 {
		padding-top: 5vh;
		width: 100vw;
	}
	.SignInputContainer {
		width: 90vw;
		margin-left: 2.5vw;
		/* margin-right: 5vw;  */
	}
}
/* Sign End */
/* Footer START */
.Footer {
	width: 100vw;
	position: absolute;
	margin-bottom: -50px;
}
.Footer :first-of-type(div) {
	margin-left: 10vw;
}

/* About START */
.About {
	width: 100vw;
	color: #f2fdff;
}
.About .Background {
	background-color: #f2fdff;
}
.AboutPost {
	display: flex;
	justify-content: center;
	padding: 2vh 1vw 2vh 1vw;
	min-height: 50vh;
	margin: 5vh auto;
	width: 89vw;
	flex-direction: row;
}
.AboutPostCol1 {
	width: 40vw;
	display: flex;
	flex-direction: column;
}
.AboutPostTitle {
	background-color: #43aa8b;
	z-index: 4;
	width: max-content;
	padding: 0.2vh 1vw 0.2vh 1vw;
}
.AboutPostDescription {
	background-color: #235789;
	width: 40vw;
	height: 35vh;
	padding: 1vh 1vw 2vh 1vw;
	display: flex;
	align-items: center;
	z-index: 3;
}
.AboutPostImageContainer {
	height: 52vh;
	/* background-color: blue; */
	min-width: 36vw;
	max-width: 50vw;
}
.AboutPostImageContainer div {
	/* background-color: rebeccapurple; */
	height: 52vh;
}
.AboutPostImageTint {
	height: 52vh;
	max-width: 50vw;
	position: relative;
	top: -52vh;
	z-index: 2;
	background-color: rgba(13, 232, 240, 0.438);
}

.About div:nth-of-type(3n + 2) .AboutPostDescription {
	animation: AboutDiv 2s;
	transform: translate(2vw, 1vh);
}

.About div:nth-of-type(3n + 0) .AboutPostTitle {
	animation: AboutDiv 2s;
	transform: translate(2vw, 1vh);
}
@keyframes AboutDiv {
	from {
		transform: translate(0vw, 0vh);
	}
	to {
		transform: translate(2vw, 1vh);
	}
}

@media only screen and (max-width: 650px) {
	.About {
		width: 100vw;
	}
	.AboutPost {
		width: 100vw;
		flex-direction: column;
		align-content: center;
	}
	.AboutPostTitle {
		max-width: 80vw;
		margin-left: 10vw;
		margin-bottom: 0.2vh;
		opacity: 0.9;
		transform: unset;
		animation: unset;
	}
	.AboutPostCol1 {
		width: 100vw;
		order: 22;
	}
	.AboutPostDescription {
		width: 90vw;
		margin: auto;
		height: fit-content;
		min-height: 40vh;
	}
	.About div:nth-of-type(3n + 2) .AboutPostDescription {
		transform: unset;
		animation: unset;
	}

	.About div:nth-of-type(3n + 0) .AboutPostTitle {
		transform: unset;
		animation: unset;
	}
	.AboutPostImageContainer {
		transform: translateY(20%);
		order: 1;
		width: 100vw;
		background-color: violet;
	}
	.AboutPostImageContainer * {
		width: 100vw;
	}
	.AboutPostImageTint {
		min-width: 100vw;
	}
	.About * {
		translate: unset;
	}
}
/* About END */

/* Offer */
.Offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1vh;
	margin-left: 5vw;
	width: 85vw;
	border-radius: 0.4%;
	padding: 2%;
	background-color: rgba(0, 26, 120, 0.5);
	color: white;
}
.Offer .Background {
	background-color: rgba(83, 0, 167, 0.315);
}
.Offer * {
	text-align: left;
}
/* OFFER EMD */
.switch {
	margin: auto;
	position: absolute;
	right: 1vw;
	top: 1vh;
	z-index: 1;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../images/Plsquare.png");
	background-size: cover;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-image: url("../images/Ukround.png");
	background-size: contain;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	/* tlo po klik */

	background-image: url("../images/Uksquare.png");
	background-size: contain;
}

input:focus + .slider {
	box-shadow: 0 0 11px black;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);

	background-image: url("../images/Plround.png");
	background-size: contain;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media only screen and (max-width: 650px) {
	.App {
		margin: 0%;
	}

	.Navbar {
		width: fit-content;
		margin-left: 0%;
	}

	.switch {
		width: 26px;
		height: 13px;
	}
	.slider:before {
		height: 13px;
		width: 13px;
		left: 0px;
		bottom: 0px;
	}
	input:checked + .slider:before {
		-webkit-transform: translateX(13px);
		-ms-transform: translateX(13px);
		transform: translateX(13px);
	}

	input:focus + .slider {
		box-shadow: 0 0 11px black;
	}
	.slider.round {
		border-radius: 10px;
	}
}
